# Backend
fastapi 
uvicorn
python-multipart

# Database
qdrant_client
meilisearch

# Host Model
sentence-transformers[image]
huggingface
 
# Download database
kaggle

# Enhance
langchain_groq
langchain_openai
googletrans
langdetect
